In [13]:
import time
import numpy as np
import pandas as pd
from dask import dataframe as dd

In [22]:
rd_schema = pd.read_json('../data/raw/pu2018_schema.json')

In [24]:
rd_schema.dtype.value_counts()

integer    4880
float        37
string       25
Name: dtype, dtype: int64

In [25]:
rd_schema['dtype'] = (['Int64' if x == 'integer'
                       else 'object' if x == 'string'
                       else 'Float64' if x == 'float'
                       else 'ERROR'
                       for x in rd_schema['dtype']]
                     )

In [26]:
rd_schema.dtype.value_counts()

Int64      4880
Float64      37
object       25
Name: dtype, dtype: int64

In [30]:
use_cols = [#Common case-identification variables
    'SSUID','PNUM','MONTHCODE','ERESIDENCEID','ERELRPE','SPANEL','SWAVE',
    #The base weight and monthly in-survey-universe indicator
    'WPFINWGT','RIN_UNIV',
    #Common demographics variables, including age at time of interview (TAGE)
    #and monthly age during the reference period (TAGE_EHC)
    'ESEX','TAGE','TAGE_EHC','ERACE','EORIGIN','EEDUC',
    #Additional variables for analysis
    'TPTOTINC','RTANF_MNYN']

In [31]:

df_data = pd.read_csv("../data/raw/pu2018.csv",
                      names=rd_schema['name'],
                      dtype=dict([(i,v) for i,v in zip(rd_schema.name, rd_schema.dtype)]),
                      sep='|',
                      header=0,
                      #usecols=use_cols,
                      ass
                     )

KeyboardInterrupt:

In [34]:
start = time.time()
df = dd.read_csv("../data/raw/pu2018.csv",
                      names=rd_schema['name'],
                      dtype=dict([(i,v) for i,v in zip(rd_schema.name, rd_schema.dtype)]),
                      sep='|',
                      header=0,
                      #usecols=use_cols,
                      
                     )
end = time.time()

print('Read with dask: ', (end - start), 'seconds')

Read with dask:  1.747797966003418 seconds

In [35]:
df.head()

,SSUID,SHHADID,SPANEL,SWAVE,GHLFSAM,GVARSTR,EAF_HHLD,AAF_HHLD,ALIVQTR,ETENURE,...,TJB7_WKHRS1,TJB7_WKHRS2,TJB7_WKHRS3,TJB7_WKHRS4,TJB6_WKHRS5,TJB7_WKHRS5,TJB7_MWKHRS,TJB6_PRFTB,TJB7_PRFTB,TJB7_MSUMALT
0,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [38]:
df2 = df.head(1000)
df2.head()

,SSUID,SHHADID,SPANEL,SWAVE,GHLFSAM,GVARSTR,EAF_HHLD,AAF_HHLD,ALIVQTR,ETENURE,...,TJB7_WKHRS1,TJB7_WKHRS2,TJB7_WKHRS3,TJB7_WKHRS4,TJB6_WKHRS5,TJB7_WKHRS5,TJB7_MWKHRS,TJB6_PRFTB,TJB7_PRFTB,TJB7_MSUMALT
0,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,00011413607018,011,2018,1,01,031,2,1,1,2,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>